.sidebar>div {
	height: 100vh;
	max-height: 1024px;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.logo {
	margin: 45px 0 56px;
	background: center no-repeat url('@assets/icons/Logo.svg');
	height: 35px;
	transition: all .2s;
}

.logoCollapsed {
	background: center no-repeat url('@assets/icons/Logo_min.svg');
	
}

ul.sidebarMenu {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: var(--character-light-title-85);
}

.collapsBtnWrapper {
	width: 20px;
	height: 66px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: -19px;
	background-color: #fff;
	clip-path: polygon(100% 10%, 100% 90%, 0 100%, 0 0);
	display: flex;
	align-items: center;
	justify-content: center;
}
